@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <h1 class="display-4">Welcome to Ashley's Mock Store!</h1>
    <p><a>Here, I will use APIs from Printful and Paypal Sandbox to create my storefront.</a></p>
</div>


@foreach (var d in Model)
{
<div class="gallery">
    <a target="_blank" href="@d.ImageURL">
        <div class="imageContainer">
            <img id="itemImage" src="@d.ImageURL" alt="@d.Name">
        </div>
    </a>
    <div id="itemInfo">
        <p>Item Name: @d.Name</p>
        <p>Item Number: @d.ID</p>
        <p>Item Price: @d.Price</p>
    </div>
</div>
        }

